.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
  }
  
  .background-image {
    position: absolute;
    width: 10vw; /* Adjust size as needed */
    opacity: 0.5;
    animation: moveAndRotate 20s linear infinite;
  }
  
  @keyframes moveAndRotate {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(20vw, 20vh) rotate(180deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  