table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    text-align: center;
    width: 150px;
}

html.dark td {
    color: white;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.mobile-table {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.mobile-table tbody tr {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-table td {
    display: flex;
    padding: 10px;
    width: 250px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

.mobile-table td:before {
    content: attr(data-label);
    font-weight: bold;
    color: #fff;
}

.mobile-table tbody tr:last-child {
    border-bottom: none;
}
  