.piano-note-label.sharp-note {
    color: #555555;
}
  
.piano-note-label.non-sharp-note {
    color: #F6F5F3;
}

.piano-note-label.sharp-note.highlighted {
    color: white;
}

.piano-note-label.non-sharp-note.highlighted {
    color: black; 
}