.social-container {
  position: fixed;
  top: 5%;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index:15;
}

.menu-toggle {
  cursor: pointer;
  background-color: #000;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-icon {
  transition: all 0.3s ease;
}

.hamburger-icon .line {
  fill: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

.hamburger-icon.open .top {
  transform: rotate(45deg) translateY(15px) scaleX(1.25);
  height: 12px;
}

.hamburger-icon.open .bottom {
  transform: rotate(-45deg) translateY(-15px) scaleX(1.25);
  height: 12px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: #727575;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-link {
  background-color: #000;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.social-link:hover {
  background-color: #4b4c4d;
}

.toggle-icon {
  display: inline-block;
  transition: transform 0.5s ease;
}

.toggle-icon.flipped {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .menu {
    width: 300px;
  }
  .social-container {
    top: 4%;
    right:5px;
  }
}
